swagger-api-codegen
tsconfig.json
webpack.config.js
.eslintrc
.babelrc.js
public*
node_modules
/node_modules
/dist
.vscode
.kube
.idea
.dockerignore
.gitlab-ci.yml
nginx.conf
jsconfig.json
*.json
.eslintrc.js
.eslintrc.cjs
vite.config.ts
tailwind.config.js
src/shared/ui