<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" sizes="391x391" href="/logo.png">
    <link rel="shortcut icon" href="/favicon.png" type="image/png" />

    <meta name="author" content="Сергей Волков (js2me@outlook.com)" />
    <meta name="robots" content="index, follow">

    <!-- HTML Meta Tags -->
    <title>Фриланс Тайм Машина: помощник фрилансеру по трекингу времени</title>
    <meta name="description" content="Трекаем время, работаем над фрилансом, зарабатываем деньги">
    <meta name="keywords" content="тайм трек фриланс айти программист upwork" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://js2me.github.io/time-tracker-app">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:title" content="Фриланс Тайм Машина: помощник фрилансеру по трекингу времени">
    <meta property="og:site_name" content="Фриланс Тайм Машина" />
    <meta property="og:description" content="Трекаем время, работаем над фрилансом, зарабатываем деньги">
    <meta property="og:image" content="<%= baseUrl %>logo.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="js2me.github.io">
    <meta property="twitter:url" content="https://js2me.github.io/time-tracker-app">
    <meta name="twitter:title" content="Фриланс Тайм Машина: помощник фрилансеру по трекингу времени">
    <meta name="twitter:description" content="Трекаем время, работаем над фрилансом, зарабатываем деньги">
    <meta name="twitter:image" content="<%= baseUrl %>logo.png">

    <!-- Other -->
    <meta name="apple-mobile-web-app-title" content="Фриланс Тайм Машина">
    <meta name="application-name" content="Фриланс Тайм Машина">
    <link rel="apple-touch-icon" href="<%= baseUrl %>favicon.png" sizes="64x64">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <meta http-equiv="Content-Security-Policy" content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
      /*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);*/
      /*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');*/
      /*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');*/
      html,body,#root { height: 100%; }
    </style>
  </head>
  <body class="font-sans antialiased">
    <div id="root"></div>
    <div id="portal-root"></div>
    <div id="scope" class="fixed pointer-events-none overflow-hidden" style="left:-9999px;bottom:-9999px"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
